@font-face {
    font-family: "Museo";
    font-weight: 700;
    src: url(../fonts/MuseoSansCyrl700.ttf);
}

@font-face {
    font-family: "Museo";
    font-weight: 900;
    src: url(../fonts/MuseoSansCyrl900.ttf);
}

@font-face {
    font-family: "OpenSans";
    font-weight: 400;
    src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: "OpenSans";
    font-weight: 900;
    src: url(../fonts/OpenSans-Bold.ttf);
}

@font-face {
    font-family: "OpenSans";
    font-weight: 600;
    src: url(../fonts/OpenSans-SemiBold.ttf);
}